/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

li {
    display: inline;
}

span {
    display: block;
}

.naser {
    width: 500px;
    margin: auto;
    border: 3px solid black;
}

div.chris {
    max-width: 500px;
    margin: auto;
    border: 3px solid black;
}

#float-example{
    float: right;

}

#float-ex1, #float-ex2, #float-ex3{
    float: left;
    padding: 10px;
}

.div1{
    background-color: red;
}

.div2{
    background-color: green;
}

.div3{
    background-color: blue;
}