/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

li {
    display: inline;
}

span {
    display: block;
}

.naser {
    width: 500px;
    margin: auto;
    border: 3px solid black;
}

div.chris {
    max-width: 500px;
    margin: auto;
    border: 3px solid black;
}